@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.3 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

figure {
  margin: 0;
  background-color: #e2e2e2;
}

.img-flex {
  width: 100%;
  display: block;
}

figcaption {
  margin: 1em;
  padding-bottom: .5em;
  background-color: rgba (0, 0, 0, .3);
}

h2 {
  font-family: "Denk One", sans-serif;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  figure {
    position: relative;
  }

  figcaption {
    position: absolute;
    color: #fff;
    background: rgba(0, 0, 0, .3);
    top: 150px;
    right: 0;
    width: 20rem;
    border-radius: 10px;
    padding-left: 1em;
  }

}
